
<body>

    <form action="/search" method="POST">
	<input type="text" name="search" placeholder="Search here"> <br>
	<input type="checkbox" name="allergies" value="peanut">Peanut
	<input type="checkbox" name="allergies" value="wheat">Wheat
	<input type="checkbox" name="allergies" value="milk">Milk
	<input type="checkbox" name="allergies" value="soy">Soy<br>
	<input type="checkbox" name="allergies" value="tree nut">Tree Nut
	<input type="checkbox" name="allergies" value="shellfish">Shell Fish
	<!-- <input type="checkbox" name="allergies" value="all">
	     <input type="checkbox" name="allergies" value="Peanut">Peanut<br>
	     <input type="checkbox" name="allergies" value="Peanut">Peanut<br> -->
	<input type="submit" name="submit" value="Search">
    </form>
    
</body>
